<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>

<table>
  <thead>
    <tr>
      
      <th>Max Weigth</th>
      <th>Max Height</th>
      <th>Average Weigth</th>
      <th>Average Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
       
        <td><%= @pet_max_weigth  %></td>
        <td><%= @pet_max_height  %></td>
        <td><%= @pet_average_weigth %></td>
        <td><%= @pet_average_height %></td>
      </tr>
    
  </tbody>
</table>





<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
